/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body {

   background-color: #5c1520;
   margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;


 }

 a {
   color: #fbeff1;
 }

 #navbar {

    margin-top: -2vh; //covers small gap left by html element
    background-color: #4d111a;
    color: #fbeff1;
    box-sizing: border-box;

    width: 100vw;
    height: 10vh;
    top: 0;

    text-align: right;

    a {
       text-decoration: none;
       color: #fbeff1;
    }
 }

