.dropdown-expandable {
    background-color: gray;
    box-shadow: 5px 5px rgb(78, 78, 78);
    border: 1px solid blueviolet;
    width: fit-content;
    height: 50%;
}

.dropdown-popup{
    height: fit-content;
    width: 200px;    
    background-color: rgb(51, 51, 51);
    position: relative;
    z-index: 1;
}