.info-panel {
    background-color: gray;
    box-shadow: 5px 5px rgb(78, 78, 78);
    border: 1px solid blueviolet;
    width: fit-content;
    height: 50%;
}


.item-panel{
    white-space: pre-line;
    max-width: 20vw;
    position: absolute;
   margin-left: 200px;
   background-color: rgb(55, 55, 55);

}

.item-description{

    background-color: rgb(77, 76, 52);
    max-height: 20vh;
    overflow: scroll;
}

.item-list-element:hover {
    background-color: rgb(131, 131, 131);
}