// Place all the styles related to the GameTracker controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#container {
    width: 100%;
    height: 100vh;
}
#character-windows-list-container {

    display: flex;
    
}

#map-windows-list-container {
    display: flex;
    justify-content: space-between;
}

li {
    list-style-type: none;
}