#navbar {
    //rails layout navbar
    padding: 1%;
    margin-top: -2vh; //covers small gap left by html element
    background-color: #1d1d1d;
    color: #fbeff1;
    box-sizing: border-box;

    width: 100vw;
    height: 10vh;

    position: fixed;
    top: 0px;
    

    text-align: right;

    a {
       text-decoration: none;
       color: #fbeff1;
    }
 }

#navbar-container {

    background-color: #1d1d1d;
    width: 100%;
    height: 10%;
    padding-top: 1%;
    display: flex;

    //for all navbar elements (dropdowns) to not be supercede main page containers 
    position: relative;
    z-index: 1;
}

.navbar-panel {
    width: 100%;
}


.dropdown {
    background-color: gray;
    box-shadow: 5px 5px rgb(78, 78, 78);
    border: 1px solid blueviolet;
    height: 50%;
    width: 14%;
}

.dropdown-popup{
    height: fit-content;
    width: 200px;    
    background-color: rgb(51, 51, 51);
    position: relative;
    z-index: 2;
}

.expanded-panel{
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    max-height: 80vh;
    
    height: fit-content;
    width: 200px;    
    background-color: rgb(51, 51, 51);
    position: relative;
    z-index: 1;
}

option:hover {
    background-color: rgb(121, 121, 121);
}

li:hover {
    background-color: rgb(121, 121, 121);
}

#navbar-home-button {
    background-color: gray;
    box-shadow: 5px 5px rgb(78, 78, 78);
    border: 1px solid blueviolet;
    height: 50%;

    
}

#navbar-home-button:hover {
    background-color: rgb(68, 68, 68);
}